@{
    ViewData["Title"] = "Ç-Yonetim";
}

<h1 class="mx-auto my-0 text-uppercase">Çiftlik Yönetim Sistemi</h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">Çiftliğinizi yönetebileceğiniz çok güzel bir platform</h2>
<a class="btn btn-primary" href="@Url.Action("Index" , "Admin")">Yönetmeye Başla</a>